<!DOCTYPE html>
<html lang="en" ng-app="grouper">
    <head>
        <meta charset=utf-8>
        <title>Group Students</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.12.0.js"></script>
        <script src="lib/ng-lodash.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/importCtrl.js"></script>
        <script src="js/setupGroupCtrl.js"></script>
        <script src="js/dataService.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/style.css">
        <style>

.steps {
    margin: auto;
    width: 80%;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    margin-top: 2%;
}

.step {
    width:100%;
    margin: auto;
    text-align: center;
    border-left: 1px solid black;
    font-size: 2em;
}

.step:first-child {
    border-left: none;
}


.step.active { background: red; }

.team-list .active { color: white; }

        </style>
    </head>
    <body ng-controller="MainCtrl">
        <div class="steps">
            <div class="step" ng-class="{active: selectedTab == 1}" ng-click="selectedTab = 1">Import</div>
            <div class="step" ng-class="{active: selectedTab == 2}" ng-click="selectedTab = 2">Setup Groups</div>
            <div class="step" ng-class="{active: selectedTab == 3}" ng-click="selectedTab = 3">Adjust</div>
            <div class="step" ng-class="{active: selectedTab == 4}" ng-click="selectedTab = 4">Export</div>
        </div>

        <div ng-controller="ImportCtrl" ng-show="selectedTab == 1">import tab
            <input type="file" class="files" name="files[]" multiple fileread="files"/>
            <div ng-repeat="file in files">{{file.name}}</div>
            <button ng-click="import()">Import</button>

            <div ng-show="rawData.length == 0">
                Does the file have a header row? <input type="checkbox" ng-model="hasHeader">
            </div>

            <table ng-show="rawData.length > 0">
                <tr>
                    <th ng-repeat="column in columns">{{column}}</th>
                </tr>
                <tr ng-repeat="row in rawData">
                    <td ng-repeat="cell in row">{{cell}}</td>
                </tr>
            </table>
        </div>

        <div ng-controller="SetupGroupCtrl" ng-show="selectedTab == 2">team tab
            <form id="rule-form">
                <h1>Grouping</h1>
                <div>
                    Do you want to set <button>Group Size</button> <button>number of groups</button>?
                </div>
                <div>
                    Do you want to group by an attribute
                    <select>
                        <option>One</option>
                        <option>Tow</option>
                        <option>Three</option>
                        <option>Four</option>
                    </select>
                </div>
            </form>
        </div>

        <div ng-show="selectedTab == 3">hello dogs</div>
        <div ng-show="selectedTab == 4">hello barf</div>
    </body>

</html>
