<!DOCTYPE html>
<html lang="en" ng-app="grouper">
    <head>
        <meta charset=utf-8>
        <title>Group Students</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
        <script src="lib/ngDraggable.js"></script>
        <script src="js/main.js"></script>
        <script src="js/dataService.js"></script>
        <script src="js/importCtrl.js"></script>
        <script src="js/setupGroupCtrl.js"></script>
        <script src="js/adjustGroupCtrl.js"></script>
        <script src="js/exportGroupCtrl.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <div class="container">
            <div class="steps">
                <div class="step" ng-class="{active: selected.tab == 1}" ng-click="selected.tab = 1">Import</div>
                <div class="step" ng-class="{active: selected.tab == 2}" ng-click="selected.tab = 2">Setup Groups</div>
                <div class="step" ng-class="{active: selected.tab == 3}" ng-click="selected.tab = 3">Adjust</div>
                <div class="step" ng-class="{active: selected.tab == 4}" ng-click="selected.tab = 4">Export</div>
            </div>
            <div class="tab-data" ng-controller="ImportCtrl" ng-show="selected.tab == 1">
                <ng-include src="'pages/import.html'"></ng-include>
            </div>

            <div class="tab-data"  ng-controller="SetupGroupCtrl" ng-show="selected.tab == 2">
                <ng-include src="'pages/setup.html'"></ng-include>
            </div>

            <div class="tab-data" ng-controller="AdjustGroupCtrl" ng-show="selected.tab == 3">
                <ng-include src="'pages/adjust.html'"></ng-include>
            </div>
            <div class="tab-data" ng-controller="ExportGroupCtrl" ng-show="selected.tab == 4">
                <ng-include src="'pages/export.html'"></ng-include>
            </div>
        </div>
    </body>
</html>
