<div class="row">
    <div class="col-md-8">
        <h4>Adjust groups by dragging names between them</h4>
    </div>
    <div class="col-md-4">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-class="{active: layout == 0}" ng-click="layout = 0">
                <i class="fa fa-align-justify"></i>
            </button>
            <button type="button" class="btn btn-default" ng-class="{active: layout == 1}" ng-click="layout = 1; console.log(model.groups);">
                <i class="fa fa-trello"></i>
            </button>
        </div>
    </div>
</div>
<div class="row margin-above-below">
    <!--list layout-->
    <div ng-show="layout == 0">
        <div class="col-md-2" >
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-drop="true" ng-repeat="(gIndex, group) in model.groups"  ng-drop-success="onDropComplete($data, $event, gIndex)"
                    ng-class="{active: selectedGroup == gIndex}" ng-click="test(gIndex)"><a href="#">{{gIndex}}</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div id="group-panel" class="panel panel-default">
                <div class="panel-footer">
                    <h3>Group Name:</h3>
                    <input type="text" ngBind="model.groupsselectedGroup" />
                    <h3>Group Members:</h3>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th ng-repeat="header in model.columns">{{header}}</th>
                        </tr>
                        <tr ng-repeat="(iIndex, item) in model.groups[selectedGroup]" ng-drag="true" ng-drag-data="selectedGroup+':'+iIndex">
                            <td ng-repeat="(key, val) in item">{{val}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--visual layout-->
    <div ng-show="layout == 1">
        <div class="col-md-3" ng-repeat="(gIndex, group) in model.groups">
            <table class="table table-bordered table-hover" ng-drop="true" ng-drop-success="onDropComplete($data, $event, gIndex)">
                <th>{{gIndex}}</th>
                <tr ng-repeat="(iIndex, item) in group" ng-drag="true" ng-drag-data="gIndex+':'+iIndex">
                    <td>{{item[model.columns[0]]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" ng-click="back()">Back</button>
        <button type="button" class="btn btn-default pull-right" ng-click="next()">Next</button>
    </div>
</div>


