<input type="file" class="files" name="files[]" multiple fileread="files"/>
<div ng-repeat="file in files">{{file.name}}</div>
<button ng-click="import()">Import</button>

<div ng-show="rawData.length == 0">
    Does the file have a header row? <input type="checkbox" ng-model="hasHeader">
</div>

<table ng-show="rawData.length > 0">
    <tr>
        <th ng-repeat="column in columns">{{column}}</th>
    </tr>
    <tr ng-repeat="row in rawData">
        <td ng-repeat="cell in row">{{cell}}</td>
    </tr>
</table>

<button ng-click="next()">next</button>