<div class="row">
    <div class="col-md-12">
        <form id="rule-form">
            <h1>Grouping</h1>
            <div class="row">
                <div class="col-md-2">
                    Do you want to set
                </div>
                <div class="col-md-4">
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default" ng-class="{active: grouping.method == groupingMethods.groupSize}" ng-click="grouping.method = groupingMethods.groupSize">Group Size</a>
                        <a href="#" class="btn btn-default" ng-class="{active: grouping.method == groupingMethods.numberGroup}" ng-click="grouping.method = groupingMethods.numberGroup">Number of Groups</a>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-2">
                    <span ng-show="grouping.method == groupingMethods.numberGroup">Number of groups: </span>
                    <span ng-show="grouping.method == groupingMethods.groupSize">Group size: </span>
                </div>
                <div class="col-md-4">
                    <input class="form-control text-right" ng-show="grouping.method == groupingMethods.numberGroup"ng-model="grouping.numberOfGroups" type="text">
                    <input class="form-control text-right" ng-show="grouping.method == groupingMethods.groupSize"ng-model="grouping.groupSize" type="text">
                </div>
            </div>
            <br/><br/>
            <div class="row" ng-show="grouping.numberOfGroups != null || grouping.groupSize != null">
                <div class="col-md-2">
                    Do you want to group by an attribute
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <select class="form-control" ng-model="grouping.attribute">
                        <option ng-repeat="entry in model.includes" value="{{model.columns[entry.id]}}">{{model.columns[entry.id]}}</option>
                        <!--<option ng-repeat="column in model.columns" value="{{column}}">{{column}}</option>-->
                    </select>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <div ng-show="grouping.attribute" ng-click="availableTabs[2]=1" class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default" ng-class="{active: grouping.strategy == attributeGroupingStrategies.split}"
                           ng-click="grouping.strategy = attributeGroupingStrategies.split">split on attribute</a>
                        <a href="#" class="btn btn-default" ng-class="{active: grouping.strategy == attributeGroupingStrategies.balance}"
                           ng-click="grouping.strategy = attributeGroupingStrategies.balance">balance attribute</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row bottom-nav">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" ng-click="back()">Back</button>
        <button type="button" class="btn btn-default pull-right" ng-class="{disabled: availableTabs[2] == 0}" ng-click="next(); availableTabs[3] = 1">Next</button>
    </div>
</div>
